<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.gl.market.model.NoticeDao">
  	<select id="noticePop" resultType="com.gl.market.model.NoticeVo">
  		SELECT * FROM NOTICE WHERE NOTID LIKE 'pop%'
  	</select>
  	<select id="noticeAll" resultType="com.gl.market.model.NoticeVo">
  		SELECT * FROM NOTICE ORDER BY NOTDAY DESC
  	</select>
  	<select id="selectOne" parameterType="String" resultType="com.gl.market.model.NoticeVo">
  		SELECT * FROM NOTICE WHERE NOTID=#{value}
  	</select>
  
  	<select id="qnaAll" resultType="com.gl.market.model.VocVo">
  		SELECT * FROM VOC WHERE VOCID LIKE 'FAQ%' ORDER BY VOCID
  	</select>
  	<select id="eventAll" resultType="com.gl.market.model.EventVo">
  		SELECT * FROM EVENT ORDER BY EPRIO ASC
  	</select>
  	
  	<select id="listAll" parameterType="String" resultType="com.gl.market.model.VocVo">
  		SELECT * FROM VOC WHERE CUSTOMID=#{value} AND PROID IS NULL
  	</select>
  	<select id="vocAnswer" parameterType="String" resultType="com.gl.market.model.VocVo">
  		SELECT * FROM VOC WHERE VOCID=#{value}
  	</select>
  	<insert id="vocQuestion" parameterType="hashmap" >
  		INSERT INTO VOC (VOCID,VOCTITLE,VOCCONTENT,CUSTOMID,ANSWER,PROID) VALUES ('VOC'||seq_voc.NEXTVAL,#{title},#{content},#{userid},NULL,NULL)
  	</insert>
  
  	<select id="selmile" parameterType="String" resultType="com.gl.market.model.UserJoinVo">
  		SELECT * FROM CUSTOMER WHERE ID=#{value}
  	</select>
  	<select id="buypro" parameterType="String" resultType="com.gl.market.model.BuyVo" >
  		SELECT * FROM PRODUCT WHERE PROID=#{value}
  	</select>
  	<select id="buypro2" parameterType="String" resultType="com.gl.market.model.ProdetailVo">
  		SELECT * FROM PRODETAIL WHERE PROID=#{value}  	
  	</select>
    <select id="coupon" parameterType="String" resultType="com.gl.market.model.CouponVo">
    	SELECT * FROM COUPON WHERE CUSTOMID=#{value}
    </select>
	<select id="leaveTk" parameterType="hashmap" resultType="int">
	SELECT COUNT(*) FROM ODER WHERE STARTDAY=#{startday} AND TRANS=#{air} AND PROID=#{proid}
	</select>    
	<select id="searchtk" parameterType="hashmap" resultType="int">
	SELECT SUM(GOPERSON) FROM ODER WHERE STARTDAY=#{startday} AND TRANS=#{air} AND PROID=#{proid}
	</select>
	<select id="tcash" parameterType="String" resultType="int">
	SELECT TCASH FROM CUSTOMER WHERE ID=#{value}
	</select>    
    <insert id="oder" parameterType="hashmap">
    INSERT INTO ODER (ORDERID,PROID,CUSTOMID,PAYCASH,TRANS,GOPERSON,CANCEL,STARTDAY,PAYD) VALUES (#{oderid}||ODERSEQUENCE.NEXTVAL,#{proid},#{userid},#{total},#{air},#{num},0,#{start},SYSDATE)
    </insert>
    <update id="usemile" parameterType="hashmap">
    UPDATE CUSTOMER SET CASH=#{mile}, TCASH=#{tcash} WHERE ID=#{userid}
    </update>
    <delete id="delcoup" parameterType="String">
    DELETE FROM COUPON WHERE CUPID=#{value}
    </delete>
    
  </mapper>
  
  