<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<mappers>
  		<mapper resource="sql/MarketMapper.xml"/>
  		<mapper resource="sql/LoginMapper.xml"/>
  		<mapper resource="sql/MypageMapper.xml"/>
  		<mapper resource="sql/NoticeMapper.xml"/>
  		<mapper resource="sql/ProductMapper.xml"/>
  	</mappers>
  </configuration>